package templates

import (
	"pds/internal/models"
	"time"
)

templ ChildrenPage(children []models.Aim) {
	@Base("Children | Journal App", time.Now().Year()) {
		<div>
			<h1>Children</h1>
			<table>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
				for _, it := range children {
					<tr>
						<td>{ it.ID }</td>
						<td>{ it.Name }</td>
						<td>{ it.Description }</td>
					</tr>
				}
			</table>
		</div>
	}
}
